{# (C) Albert Mietus, 2023. Part of Castle/CCastle project #}

{% import "CastleMacros.jinja2" as m %}

{#GAM Note: do not put {% block ... inside the loop - does not work#} 
{% block ProtocolDataStructures %}
   {% for p in protocols %}

{{- m.ProtocolName(p.name) -}} = buildin.CC_B_Protocol(name="{{ p.name }}",
                                            kind=buildin.{{p.kind}},
                                            inherit_from=<ToDo>,
                                            events = [])
      {% for e in p.events %}
{{m.ProtocolName(p.name) }}.events.append(
        buildin.CC_B_P_EventID(name="{{- e.name -}}",
                                   seqNo={{- m.EventIndexName(p.name, e.name) }},
                                   part_of={{ m.ProtocolName(p.name) }} ))
      {% endfor %} {# event #}
   {% endfor %} {# protocols #}
{% endblock %} {# ProtocolDataStructures #}


